@charset "utf-8";
/* CSS Document */
.flexbox{
display: flex;
border: 2px solid #9F81F7;
background-color:#40FF00;
padding: 50px;
width: 75%;
}
#celeste{
padding: 50px;
margin: 50px;
background-color:#58FAF4;
}
#morado{
padding: 50px;
margin: 50px;
background-color:#4C0B5F;
}
#corinto{
padding: 50px;
margin: 50px;
background-color:#8A0829;
}
